.fila1 {
    display: flex;
    flex-direction: row ;
    height: 112.5px;
    background-color: red;
}

.cuerpo { 
    display: flex;
    flex-direction: row;
    height: 225px;
    background-color: aqua;
}

.doble {
    height: 225px;
    width: 300px;
    background-color: blue;
}

.dosTercios { 
    height: 112.5px;
    width: 600px;
    background-color: brown;
}

.unTercio { 
    width: 300px;
}

#posicionActividad{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}
#posicionTarifaHora{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}
#posicionAerobic{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

#posicionStep{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}


#posicion3E {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;

}

#posicionMusculacion{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

#posicion4E{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}











body {
    width: 900px;
    height: 450px;
}