.tituloIzquierda {
    border: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloDerecha { 
    border: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segunda {
    border: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.tercera {
    border: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;

}
.cuartaIzquierda { 
    border: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.segundaYTercera {
    border: solid 1px black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuartaDerecha {
    border: solid 1px black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.columnaIzquierda {
    width: 750px ; 
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.columnaDerecha {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

#global { 
    width: 1000px;
    height: 200px;
    display: flex;

}